# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Apply Markdown formatting
- List popular languages for Data Science
- Use Jupyter Notebook code cells for simple calculations

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Numpy
3. Pandas

| Data Science Tools               |
|----------------------------------|
| Jupyter Notebook                 |
| RStudio                          |
| Apache Spark                     |
| Tableau                          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Carlos Ortiz Cardenas